{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% block content %}
    <body>
    <h1 class="font-bold text-2xl mb-4">Upload File</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-indigo-600 text-gray-50 px-2 py-1 mt-3">Save</button>
    </form>
    {% for error in errors %}
        <p style="color: red"> Invalid uuid is: {{ error }}</p>
    {% endfor %}

    </body>
{% endblock %}

</html>